<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Index</h1>
    <hr>
    <h4>Content</h4>
    <ul>
        <li><a href="#Grammar">Grammar</a></li>
        <li><a href="#Vocabulary">Vocabulary</a></li>
        <li><a href="#Conversation">Conversation</a></li>
        <li>600 items</li>
    </ul>
    <a id="Grammar"></a>
    <h4>Grammar</h4>
    <ol>
        <li><a href="exercise1.html" target="_blank">Part of Speech</a></li>
        <li><a href="exercise2.html" target="_blank">Noun</a></li>
        <li><a href="exercise3.html" target="_blank">Article</a></li>
        <li><a href="exercise4.html" target="_blank">Quantifier</a></li>
        <li><a href="exercise5.html" target="_blank">Pronoun</a></li>
        <li><a href="exercise6.html" target="_blank">Subject-Verb Agreement</a></li>
        <li><a href="exercise7.html" target="_blank">Present Tenses</a></li>
        <li><a href="exercise8.html" target="_blank">Past Tense</a></li>
        <li><a href="exercise9.html" target="_blank">Future Tenses</a></li>
        <li><a href="exercise10.html" target="_blank">Passive Voice</a></li>
        <li><a href="exercise11.html" target="_blank">Conditional Sentence</a></li>
        <li><a href="exercise12.html" target="_blank">Non-Finite Verb</a></li>
        <li><a href="exercise13.html" target="_blank">Modal Verb</a></li>
        <li><a href="exercise14.html" target="_blank">Reported Speech</a></li>
        <li><a href="exercise15.html" target="_blank">Adjective</a></li>
        <li><a href="exercise16.html" target="_blank">Adverb</a></li>
        <li><a href="exercise17.html" target="_blank">Comparison</a></li>
        <li><a href="exercise18.html" target="_blank">Preposition</a></li>
        <li><a href="exercise19.html" target="_blank">Conjunction</a></li>
        <li><a href="exercise20.html" target="_blank">Question Tag</a></li>
    </ol>
    <a id="Vocabulary"></a>
    <h4>Vocabulary</h4>
    <ol>
        <li>Appearance</li>
        <li>Clothes</li>
        <li>Communications</li>
        <li>Education</li>
        <li>Entertainment</li>
        <li>Feelings and Opinions</li>
        <li>Food and Drink</li>
        <li>Health</li>
        <li>House and  Home</li>
        <li>Places</li>
        <li>Shopping</li>
        <li>Sport</li>
        <li>The Natural World</li>
        <li>Travel and Transport</li>
        <li>Work and Carrers</li>
    </ol>
    <a id="Conversation"></a>
    <h4>Conversation</h4>
    <ol>
        <li>Greetings and Goodbye</li>
        <li>Introductions</li>
        <li>Thanking</li>
        <li>Apologizing</li>
        <li>Permission</li>
        <li>Agreement</li>
        <li>Opinions</li>
        <li>Advice</li>
        <li>Helping</li>
        <li>Invitations</li>
        <li>Appointments</li>
        <li>Telephoning</li>
        <li>Giving Directions</li>
        <li>At a Shop</li>
        <li>At a Restaurant</li>
    </ol>
    <footer>
        <a href="mailto: kuikaopong.2002@gmail.com">Email to Creator</a>
    </footer>
</body>
</html>
