<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kuisskui</title>
</head>

<body style="background-color:#005A9C; display: flex; min-height:97.5vh; justify-content:center">
    <div style=" display: flex; justify-content: center; flex-direction: column;">

        <div style="display: flex; justify-content: center;">
            <div>
                <h1 style="color:#f0f8ff">kuisskui's SKY!</h1>
            </div>
        </div>

        <div style="display: flex; justify-content: space-evenly;">
            <a style="margin: 1rem 2rem">
                <div
                    style="background-color:#191970; width:12rem; height:3rem; border-radius:1.25rem; display: flex; justify-content: center;align-items: center">
                    <div style="color:#f0f8ff">Tables</div>
                </div>
            </a>
            <a href="{% url 'English:home' %}" style="margin: 1rem 2rem">
                <div
                    style="background-color:#191970; width:12rem; height:3rem; border-radius:1.25rem; display: flex; justify-content: center;align-items: center">
                    <div style="color:#f0f8ff">English</div>
                </div>
            </a>
        </div>
    </div>
</body>

</html>