@font-face {   
    font-family: 'NovaSansTamil';
    src: url('novasanstamil.woff') format('woff'); /* full url to font needed */
    unicode-range: U+0041-5A;
}
body.english{
    font-family: 'Varela Round', sans-serif;
    font-family: 'Itim', cursive;

}
section{
    margin-top: 2rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    border-color: #aaaaaa;
}
th{
    text-align: center;
    vertical-align: middle;
}
td{
    text-align: left;
    vertical-align: top;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid;
    border-color: #aaaaaa;
}
th, td{
    line-height: 1.6rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-top-color: #cccccc;
    border-top-width: 1px;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
}
tr:nth-child(odd){
    background-color: #cccccc;
}
.no-side-border{
    border-left: 0rem;
    border-right: 0rem;
}
.text-background-white-black{
    color: #ffffff;
    background-color: #777777 !important;
}
.text-background-black-white{
    color: #000000;
    background-color: #ffffff !important;
}
.list{
    padding-left: 1.50rem;
    text-indent:-1.08rem;
}
.lists{
    padding-left: 1.1rem;
    text-indent:-1.08rem;
}
.container{
    width: 42rem;
    margin-left: auto;
    margin-right: auto;
}
.inline-block{
    display:inline-block;
}
.main-number{
    font-size:3rem;
    color:#ffffff;
    background-color:#000000;  
    width:6rem;
    height:6rem;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.head{
    font-size:2rem;
    line-height: 3rem;
    display:table-cell;
    vertical-align:middle;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.sub-head{
    font-size: 1.2rem;
    color:#ffffff;
    background-color:#000000;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
p{
    font-size: 1rem;
    text-indent: 2rem;
    line-height: 1.6rem;
    margin-top: 0.5rem;
}
