<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'English/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
</head>

<body>
    <div class="container">
        <section>
            <div class="inline-block">
                <div class="main-number">
                    2
                </div>
            </div>
            <div class="inline-block">
                <div class="head">
                    NOUN
                    <br>
                    (คำนาม)
                </div>
            </div>
        </section>

        <section>
            <div class="sub-head">
                ความหมาย
            </div>
            <p>
                <b>Noun</b> หมายถึง คำที่ใช้เรียกคน สัตว์ สิ่งของ สถานที่ และคุณสมบัติ รวมถึงชื่อของสิ่งต่างๆ เหล่านี้
                หากพิจารณาตามการนับ คำนามแบ่งออกได้เป็น 2 ประเภทหลัก คือ นามนับได้ (countable noun) และนาม
                นับไม่ได้ (uncountable noun) ทั้งนี้คำนามสามารถแบ่งออกได้เป็นประเภทย่อยอื่นๆ ได้อีกดังตาราง
            </p>
            <table>
                <tr>
                    <th class="text-background-white-black" style="width: 25%;">ประเภท</th>
                    <th class="text-background-white-black" style="width: 49%;">ประเภทย่อย</th>
                    <th class="text-background-white-black" style="width: 26%;">ตัวอย่าง</th>
                </tr>
                <tr>
                    <td rowspan="3" class="text-background-black-white">
                        <b>
                            นามนับได้
                            <br>
                            (Countable Noun)
                        </b>
                        <br>
                        คือ คำนามที่นับจำนวนได้เป็นได้ทั้งเอกพจน์และพหูพจน์
                        อาจนำหน้าด้วย indefinite article (a / an) 
                        หรือจำนวน (two / five) ได้
                    </td>
                    <td class="list">
                            <b>1) Common Noun (นามทั่วไป)</b>
                            <br>
                            ใช้เรียกสิ่งต่างๆ ทั่วไป โดยไม่ชี้เฉพาะเจาะจงว่าเป็นคนไหนหรือสิ่งไหน
                    </td>
                    <td>man, wonman, city, day, month, car, movie, book, university, restaurant</td>
                </tr>
                <tr>
                    <td class="list">
                        <b>2) Proper Noun (นามเฉพาะ)</b>
                        <br>
                        ใช้เรียกสิ่งต่างๆ อย่างเจาะจง และเป็นชื่อเฉพาะที่ขึ้นต้นด้วยตัวใหญ่เสมอ
                    </td>
                    <td>John, Susan, Bangkok, Monday, April, Honda, Harry Potter, Thammasat</td>
                </tr>
                <tr>
                    <td class="list">
                        <b>3) Collective Noun (นามหมวดหมู่)</b>
                        <br>
                        ใช้แสดงหมวดหมู่ มักใช้กับ of + common noun ที่เป็นนามนับได้
                    </td>
                    <td>
                        an <u>army</u> of soldiers
                        <br>
                        two <u>pairs</u> of shoes
                        <br>
                        five <u>groups</u> of people
                    </td>
                </tr>
                <tr>
                    <td rowspan="4" class="text-background-black-white">
                        <b>
                            นามนับไม่ได้
                            <br>
                            (Uncountable Noun)
                        </b>
                        <br>
                        คือ คำนามที่นับจำนวนไม่ได้ใช้เป็นรูปเอกพจน์ และไม่มี article นำหน้า
                    </td>
                    <td class="list">
                        <b>1) Mass Noun(วัตถุนาม)</b>
                        <br>
                        ใช้เรียกสิ่งต่างๆ ที่เป็นกลุ่มก้อนและนับไม่ได้
                    </td>
                    <td>rice, sugar, bread, water, milk, tea, coffee, gold, air</td>
                </tr>
                <tr>
                    <td class="list">
                        <b>2) Abstract Noun (นามธรรม)</b>
                        <br>
                        ใช้เรียกสิ่งต่างๆ ที่ไม่มีตัวตน จับต้องไม่ได้
                    </td>
                    <td>love, happiness, sadness, friendship, sincerity, peace</td>
                </tr>
                <tr>
                    <td><b>3) ชื่อวิชา</b></td>
                    <td>history, biology, economics, English, French, Spanish, golf, tennis, basketball</td>
                </tr>
                <tr>
                    <td><b>4) นามอื่นๆ</b></td>
                    <td>advice, experience, furniture, homework, information, knowledge, luggage, news, traffic, trouble, weather, work</td>
                </tr>
            </table>
        </section>

        <section>
            <div class="sub-head">
                การเปลี่ยนพจน์ของคำนาม
            </div>
            <p>
                เมื่อเราต้องการสื่อความหมายของคำนามที่มีตั้งแต่สองขึ้นไป เราสามารถเปลี่ยนรูปคำนามนับได้ที่เป็นรูปเอกพจน์ให้เป็นรูปพหูพจน์ด้วยวิธีต่างๆ ดังนี้
            </p>
            <table>
                <tr>
                    <th class="text-background-white-black" style="width: 18%;">วิธีการ</th>
                    <th class="text-background-white-black" style="width: 50%">หลักเกณฑ์</th>
                    <th class="text-background-white-black" style="width: 32%;">ตัวอย่าง</th>
                </tr>
                <tr>
                    <th rowspan="3" class="text-background-black-white">เติม -s</th>
                    <td class="list">1) นามทั่วไป</td>
                    <td>car<b>s</b>, pen<b>s</b>, book<b>s</b>, hand<b>s</b>, bag<b>s</b></td>
                </tr>
                <tr>
                    <td class="list">2) นามที่ลงท้ายด้วย o บางคำหรือเมื่อหน้า o เป็นสระ</td>
                    <td>zoo<b>s</b>, radio<b>s</b>, piano<b>s</b>, photo<b>s</b></td>
                </tr>
                <tr>
                    <td class="list">3) นามที่ลงท้ายด้วย y และหน้า y เป็นสระ</td>
                    <td>way<b>s</b>, boy<b>s</b>, day<b>s</b>, key<b>s</b>, toy<b>s</b></td>
                </tr>
                <tr>
                    <th rowspan="4" class="text-background-black-white">เติม -es</th>
                    <td class="list">1) นามที่ลงท้ายด้วย s, ss, sh, ch, x, z</td>
                    <td>bus<b>es</b>, boss<b>es</b>, class<b>es</b>, glass<b>es</b></td>
                </tr>
                <tr>
                    <td class="list">2) นามที่ลงท้ายด้วย o และหน้า o เป็นพยันชนะ</td>
                    <td>tomato<b>es</b>, potato<b>es</b>, buffalo<b>es</b></td>
                </tr>
                <tr>
                    <td class="list">3) นามที่ลงท้ายด้วย y และหน้า y เป็นพยันชนะ เปลี่ยน y เป็น i และเติม es</td>
                    <td>bab<b>ies</b>, stor<b>ies</b>, universit<b>ies</b>, lad<b>ies</b>, countr<b>ies</b>, compan<b>ies</b></td>
                </tr>
                <tr>
                    <td class="list">4) นามที่ลงท้ายด้วย f, fe เปลี่ยนเป็น v แล้วเติม es</td>
                    <td>li<b>ves</b>, lea<b>ves</b>, wi<b>ves</b>, thie<b>ves</b></td>
                </tr>
                <tr>
                    <th class="text-background-black-white">เปลี่ยนสระ หรือเปลี่ยนรูป</th>
                    <td>นามเหล่านี้ไม่มีหลัก ต้องอาศัยการท่องจำ</td>
                    <td>men, women, feet, teeth, geese, policemen, mice, children, oxen</td>
                </tr>
                <tr>
                    <th class="text-background-black-white">ไม่เปลี่ยนรูป</th>
                    <td>นามเหล่านี้ไม่มีหลัก ต้องอาศัยการท่องจำ</td>
                    <td>fish, deef, sheep, series, species</td>
                </tr>
            </table>
        </section>

        <section>
            <div class="sub-head">
                หน้าที่ของคำนาม
            </div>
            <p>
                คำนามสามารถทำหน้าที่ได้หลายอย่างในประโยค ทั้งนี้มักจะขึ้นอยู่กับตำแหน่งของคำนามซึ่งแสดงความสัมพันธ์ของคำนามนั้นกับคำอื่นๆ 
                ในประโยคดังที่สรุปในตารางต่อไปนี้
            </p>
            <table>
                <tr>
                    <th class="text-background-white-black">หน้าที่</th>
                    <th class="text-background-white-black">การใช้</th>
                    <th class="text-background-white-black">ตัวอย่าง</th>
                </tr>
                <tr>
                    <td class="list"><b>1) ประธาน (Subject)</b></td>
                    <td>อยู่ต้นประโยค และอยู่หน้าคำกริยา</td>
                    <td><b>John</b> bought many books.</td>
                </tr>
                <tr>
                    <td class="list"><b>2) กรรม (Object)</b></td>
                    <td>อยู่หลังคำกริยาที่ต้องการกรรม</td>
                    <td>John bought many <b>books.</b></td>
                </tr>
                <tr>
                    <td class="list"><b>3) กรรมหลังบุพบท (Object of a Preposition)</b></td>
                    <td>อยู่หลังคำบุพบท</td>
                    <td>John sent an e-mail to his <b>friends</b></td>
                </tr>
                <tr>
                    <td class="list"><b>4) ส่วนเติมเต็ม (Complement)</b></td>
                    <td>อยู่หลังกริยา be, have, become</td>
                    <td>John is an <b>engineer.</b></td>
                </tr>
                <tr>
                    <td class="list"><b>5) แสดงความเป็นเจ้าของ (Possessive)</b></td>
                    <td>เติม 's ท้ายคำนามที่มีชีวิต หรือ เติม ' ท้ายคำนามที่ลงท้ายด้วย s และใช้ of + คำนามที่ไม่มีชีวิต</td>
                    <td>the <b>boy's</b> pen, the <b>kids'</b> book, the door of the <b>car</b>, the capital of <b>France</b></td>
                </tr>
            </table>
        </section>
    </div>
    <div>
        <a href="{% url 'English:exercise' 2 %}" target="_blank">Let's go to exercise</a>
    </div>
</body>

</html>