<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'English/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
</head>

<body>
    <div class="container">
        <section>
            <div class="inline-block">
                <div class="main-number">
                    3
                </div>
            </div>
            <div class="inline-block">
                <div class="head">
                    ARTICLE 
                    <br> 
                    (คำนำหน้านาม)
                </div>
            </div>
        </section>

        <section>
            <div class="sub-head">
                ความหมาย
            </div>
            <p>
                <b>Article</b> หมายถึง คำที่ใช้นำหน้านาม 
                เพื่อบ่งบอกรายละเอียดว่าคำนามนั้นเป็นรูปเอกพจน์หรือพหูพจน์
                รวมทั้งบ่งชี้ว่าเป็นการกล่าวถึงคำนามนั้นโดยชี้เฉยาะหรือไม่ชี้เฉพาะ 
                การใช้คำนำหน้านามนี้สามารถสรุปเป็น 2 
                ประเภทตามลักษณะการใช้ได้ดังตาราง
            </p>
            <table>
                <tr>
                    <th class="text-background-white-black" style="width: 40%;">ประเภท</th>
                    <th class="text-background-white-black" style="width: 37%;">การใช้</th>
                    <th class="text-background-white-black" style="width: 23%;">ตัวอย่าง</th>
                </tr>
                <tr>
                    <td rowspan="2" class="list">
                        <b>1) Indefinite Article (ไม่ชี้เฉพาะ)</b>
                        <br>
                        วางหน้านามนับได้เอกพจน์ เมื่อกล่าวโดยทั่วไป ไม่ชี้เฉพาะว่าเป็นคนไหนหรือสิ่งไหน
                    </td>
                    <td><b>a</b> + นามที่ขึ้นต้นด้วย<b>เสียงพยัญชนะ</b> (ไม่ใช่เสียง อ)</td>
                    <td>a boy, a city, a house, a unit, a university</td>
                </tr>
                <tr>
                    <td><b>an</b> + นามที่ขึ้นต้นด้วย<b>เสียงสระ</b> (เสียง อ)</td>
                    <td>an egg, an umbrella, an orange, an hour</td>
                </tr>
                <tr>
                    <td rowspan="2" class="list">
                        <b>2) Definite Article (ชี้เฉพาะ)</b>
                        <br>
                        วางหน้านามนับได้หรือนามนับไม่ได้ก็ได้ เมื่อกล่าวโดยชี้เฉพาะว่าเป็นคนไหนหรือสิ่งไหน
                    </td>
                    <td><b>the</b> (อ่านว่า เดอะ) + นามที่ขึ้นต้นด้วย<b>เสียงพยัญชนะ</b></td>
                    <td>the book, the uniform, the horse, the woman</td>
                </tr>
                <tr>
                    <td><b>the</b> (อ่านว่า ดิ) + นามที่ขึ้นต้นด้วย<b>เสียงสระ</b></td>
                    <td>the apple, the elephant, the album, the engineer</td>
                </tr>
            </table>
        </section>

        <section>
            <div class="sub-head">
                การใช้ a / an
            </div>
            <p>
                โดยทั่วไปแล้ว การใช้ Indefinite Article ด้วยคำว่า a / an 
                จะใช้นำหน้าคำนามเอกพจน์ทั่วไปโดยไม่ชี้เฉพาะเจาะจง 
                อย่างไรก็ตามอาจพบการใช้ในกรณีอื่นๆ ได้เพิ่มเติมดังที่สรุปในตารางต่อไปนี้
            </p>
            <table>
                <tr>
                    <th class="text-background-white-black">การใช้</th>
                    <th class="text-background-white-black">ตัวอย่าง</th>
                </tr>
                <tr>
                    <td class="list">1) นำหน้านามนับได้เอกพจน์ โดยไม่ชี้เฉพาะเจาะจง</td>
                    <td>I eat <u>an orange</u> after every meal.</td>
                </tr>
                <tr>
                    <td class="list">2) นำหน้านามเมื่อกล่าวถึงนามนั้นเป็นครั้งแรก</td>
                    <td>We went to <u>a restaurant</u> yesterday.</td>
                </tr>
                <tr>
                    <td class="list">3) นำหน้านามเมื่อแสดงถึงนามนั้นทั้งจำพวก</td>
                    <td><u>An elephant</u> is a friendly animal.</td>
                </tr>
                <tr>
                    <td class="list">4) นำหน้านามที่บ่งบอกอาชีพหรือสัญชาติ</td>
                    <td>My friend is <u>a dentist</u>. He is <u>an American</u>.</td>
                </tr>
                <tr>
                    <td class="list">5) นำหน้านามเอกพจน์ เพื่แสดงหน่วยหรืออัตราการวัด</td>
                    <td>He drives eighty miles <u>an hour</u>.</td>
                </tr>
            </table>
        </section>

        <section>
            <div class="sub-head">
                การใช้ the
            </div>
            <p>
                โดยหลักการทั่วไป การใช้ Definite Article ด้วยคำว่า the จะใช้นำหน้าคำนามได้ทุกประเภท
                ไม่ว่าจะเป็นนามเอกพจน์หรือพหูพจน์ รวมถึงนามนับได้หรือนับไม่ได้ สามารถสรุปได้ดังนี้
            </p>
            <table>
                <tr>
                    <th class="text-background-white-black" style="width: 60%;">การใช้</th>
                    <th class="text-background-white-black" style="width: 40%;">ตัวอย่าง</th>
                </tr>
                <tr>
                    <td class="list">1) นำหน้านามเมื่อกล่าวถึงนามนั้นมาก่อนหน้านี้แล้ว</td>
                    <td>We met a girl. <u>The girl</u> is very pretty.</td>
                </tr>
                <tr>
                    <td class="list">2) นำหน้านามที่มีส่วนขยายตามมา</td>
                    <td><u>The man</u> in that corner is my neighbor.</td>
                </tr>
                <tr>
                    <td class="list">3) นำหน้านามเมื่อทราบว่านามนั้นหมายถึงคนหรือสิ่งไหน</td>
                    <td>We have to go to <u>the post office</u>.</td>
                </tr>
                <tr>
                    <td class="list">4) นำหน้านามเมื่อนามนั้นมีเพียงสิ่งเดียวในโลก</td>
                    <td>My son wants to travel around <u>the world</u>.</td>
                </tr>
                <tr>
                    <td class="list">5) นำหน้าคำแสดงลำดับที่</td>
                    <td><u>The first son</u> of my family is James.</td>
                </tr>
                <tr>
                    <td class="list">6) นำหน้าการเปรียบเทียบ adjective และ adverb ขั้นสูงสุด</td>
                    <td>Tom is <u>the best student</u> in our class.</td>
                </tr>
                <tr>
                    <td class="list">7) นำหน้า adjective เมื่อใช้แทนนามพหูพจน์ และมีความหมายว่าคนทั้งกลุ่ม</td>
                    <td><u>The injured</u> were taken to the hospital last night.</td>
                </tr>
                <tr>
                    <td class="list">8) นำหน้านามที่เป็นชื่อสถานที่ทางภูมิศาสตร์ เช่น แม่น้ำ มหาสมุทร ทะเล คลอง อ่าว</td>
                    <td><u>The Amazon</u> is the world's largest rain forest and river system.</td>
                </tr>

            </table>
        </section>
        
        <section>
            <div class="sub-head">
                การละ article
            </div>
            <p>
                นอกเหนือจากการใช้ a / an / the ตามหลักการที่ได้สรุปไว้ข้างต้นแล้ว 
                เราอาจพบการละ article ได้ในหลายกรณีดังตารางต่อไปนี้
            </p>
            <table>
                <tr>
                    <th class="text-background-white-black" style="width: 60%;">การใช้</th>
                    <th class="text-background-white-black" style="width: 40%;">ตัวอย่าง</th>
                </tr>
                <tr>
                    <td class="list">1) นามนับไม่ได้ / นามนับได้พหูพจน์ที่ไม่ชี้เฉพาะ</td>
                    <td><u>Water</u> is necessary for life.</td>
                </tr>
                <tr>
                    <td class="list">2) ชื่อวิชา / ภาษา</td>
                    <td>They study <u>English</u> four times a week.</td>
                </tr>
                <tr>
                    <td class="list">3) กีฬา</td>
                    <td>Mike is playing <u>football</u> with his friends.</td>
                </tr>
                <tr>
                    <td class="list">4) มื้ออาหาร</td>
                    <td>I always have <u>breakfast</u> at 8 o'clock.</td>
                </tr>
                <tr>
                    <td class="list">5) ฤดูกาล / วันหยุด / เทศกาล</td>
                    <td><u>Summer</u> is the best time for relaxation.</td>
                </tr>
                <tr>
                    <td class="list">6) วัน / เดือน / ปี</td>
                    <td>She wants to meet you on <u>Wednesday</u>.</td>
                </tr>
                <tr>
                    <td class="list">7) สถานที่ เช่น ถนน เมือง ประเทศ รัฐ ทวีป โรงเรียน</td>
                    <td>We have never been to <u>Europe</u>.</td>
                </tr>
                <tr>
                    <td class="list">8) โรคภัยไข้เจ็บ</td>
                    <td>In the past many people died of <u>malaria</u>.</td>
                </tr>
                <tr>
                    <td class="list">9) สถานที่ เมื่อไปตามจุดประสงค์ของสถานที่นั้นๆ (ใช้ the นำหน้าถ้าไปเพื่อจุดประสงค์อื่น)</td>
                    <td>These children go to <u>school</u> every day.</td>
                </tr>
            </table>
        </section>
    </div>
    <div>
        <a href="{% url 'English:exercise' 3 %}" target="_blank">Let's go to exercise</a>
    </div>
</body>

</html>